@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html>
<head>
    <title>Журнал заявок - Адреса</title>
</head>
<body>
    <h1>Список адресов</h1>
    @foreach (var adress in Model) {<h2>город @adress.City</h2> break;}
          
    <hr />
<a asp-action="AddAdress">Добавить новый адрес</a>
    <hr />
    <table>
        <tr>
            <td>| Улица</td>
            <td>| № дома</td>
            <td>| Корпус</td>
            <td>| № подъезда</td>
            <td>| № договора</td>
            <td>| Кол-во кв.</td>
            <td>| Кол-во дв.</td>
            <td>| Система</td>
            <td>| Ключи</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var adress in Model)
        {
            <tr>
                <td>|  - @adress.Street</td>
                <td>| @adress.House</td>
                <td>| @adress.Corpus</td>
                <td>| @adress.Entrance</td>
                <td>| @adress.ContractNumb</td>
                <td>| @adress.FlatCount</td>
                <td>| @adress.DoorsCount</td>
                <td>| @Html.DisplayFor(modelItem => adress.DomofonSystem.DomofonSystemType)</td>
                <td>| @Html.DisplayFor(modelItem => adress.DomofonKey.DomofonKeyType)</td>
                <td><a href="~/Home/Adress/@adress.Id">Выбрать</a></td>
                <td><a href="~/Home/Adress/@adress.Id">Изменить</a></td>
                <td><a href="~/Home/Adress/@adress.Id">Удалить</a></td>
            </tr>

        }
    </table>
</body>
</html>